<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Face Recognition System</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Face Recognition System</h1>

      <!-- Live Video Feed -->
      <div class="video-container">
        <img src="{{ url_for('video_feed') }}" id="videoFeed" />
      </div>

      <!-- Buttons -->
      <div class="buttons">
        <button onclick="saveFace()">Save Face</button>
        <button onclick="handleAction('/ignore_face')">Ignore Face</button>
        <button onclick="handleAction('/stop_detection')">
          Stop Detection
        </button>
      </div>

      <!-- Saved Faces -->
      <h2>Saved Faces</h2>
      <div id="savedFacesContainer"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
